$--primary: #363740;
$--dark-blue: #1038BC;
$--dark-yellow: #F3B300;
$--white: #fff;
//красный дублируется с $--el-primary...
$--pale-red: #f56c6c;

$--input-bg: #F1F0EDFF;
$--input-bg-hover: #e8e7e4;
$--input-color: #9e9b98;

// element colors
$--el-primary: #409eff;
$--el-success: #67c23a;
$--el-info: #909399;
$--el-warning: #e6a23c;
$--el-danger: #f56c6c;
