
.park-details__container{
  width: 90%;
  .park-details__header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .main__danger-button{
      border-radius:20px;
      margin-left: 10px;
      width: 250px;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: .2s;
      &:hover {
        background-color: #fff200;
      }
    }

    p{
      font-family: Futura;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.3px;

      /* Colors / Light / Description Color */

      color: #2C2C2C;
    }
  }

  .park-details__main{
    display: flex;
    flex-direction: column;

    p{
      font-family: Futura;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      letter-spacing: 0.3px;
    }

    .main__row{
      display: flex;
      flex-direction: row;
      .story-button {
        margin-top: 15px;
      }
    }

    .main__row:nth-child(2) , .main__row:nth-child(3) , .main__row:nth-child(4) {
      margin-top: 10px;
    }

    .main__row:nth-child(5) {
      justify-content: flex-start;
    }
  }
}